<h2 mat-dialog-title>Paket Detayları</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item
      ><strong [ngStyle]="{ color: '#3f51b5' }"> Teslimat Türü:</strong>
      {{ packageDetails.deliveryType || "Belirtilmemiş" }}</mat-list-item
    >
    <mat-list-item
      ><strong [ngStyle]="{ color: '#3f51b5' }">Depo Adresi Adı:</strong>
      {{
        packageDetails.warehouseAddressName || "Belirtilmemiş"
      }}</mat-list-item
    >
    <mat-list-item
      ><strong [ngStyle]="{ color: '#3f51b5' }">Atanan Kurye Tam Adı:</strong>
      {{ packageDetails.assignedCarrierFullName || "Belirtilmemiş" }}
    </mat-list-item>
    <mat-list-item
      ><strong [ngStyle]="{ color: '#3f51b5' }"> Teslim Alan Kişi Tipi:</strong>
      {{ packageDetails.receiverType || "Belirtilmemiş" }}</mat-list-item
    >
    <mat-list-item
      ><strong [ngStyle]="{ color: '#3f51b5' }"> Teslim Alan Kişi Adı:</strong>
      {{ packageDetails.receiverFullName || "Belirtilmemiş" }}</mat-list-item
    >
    <!-- Diğer liste elemanları -->
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Kapat</button>
</mat-dialog-actions>
