<app-routes-container>
  <mat-card style="width: 100%">
    <mat-card-header>
      <div class="header-container">
        <h2 style="margin-right: 1.25rem">Paketler</h2>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Paketleri Ara"
            [formControl]="searchInputControl"
          />
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table
        mat-table
        matSort
        (matSortChange)="announceSortChange($event)"
        [dataSource]="dataSource"
        class="mat-elevation-z8 transparent-table"
      >
        <ng-container matColumnDef="packageBarcode">
          <th mat-header-cell *matHeaderCellDef>Paket Barkodu</th>
          <td mat-cell *matCellDef="let package">
            <mat-accordion>
              <mat-expansion-panel style="max-width: max-content">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b
                      [ngClass]="{
                        'disabled-button': package.entityStatus == 1
                      }"
                      >{{ package.packageBarcode }}</b
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button
                  (click)="openPackageDetails(package.packageId)"
                  style="display: flex; align-items: center"
                  [disabled]="package.entityStatus == 1"
                >
                  <mat-icon>list</mat-icon>
                  Paket Detay Görüntüle
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellerName">
          <th mat-header-cell *matHeaderCellDef>Satıcı Adı</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="grayBg"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
            >
              {{ package.sellerName }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellerAddressName">
          <th mat-header-cell *matHeaderCellDef>Satıcı Adresi</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="grayBg"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
            >
              {{ package.sellerAddressName }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Müşteri İsmi</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="grayBg"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
            >
              {{ package.customerName }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="desi">
          <th mat-header-cell *matHeaderCellDef>Desi</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="grayBg"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
            >
              {{ package.desi || "Belirtilmemiş" }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Ağırlık</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="grayBg"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
            >
              {{ package.weight || "Belirtilmemiş" }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Fiyat</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="grayBg"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
            >
              {{ package.price || "Belirtilmemiş" }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="deliveryStatusType">
          <th mat-header-cell *matHeaderCellDef>Teslimat Durumu</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="status"
              [ngClass]="{
                'disabled-button': package.entityStatus == 1
              }"
              [style.color]="
                getDeliveryStatusEnumColor(package.deliveryStatusType)
              "
              [style.background-color]="
                getDeliveryStatusEnumBg(package.deliveryStatusType)
              "
            >
              {{
                mapDeliveryStatusEnumToDisplayName(package.deliveryStatusType)
              }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="entityStatus">
          <th mat-header-cell *matHeaderCellDef>Paket Aktiflik Durumu</th>
          <td mat-cell *matCellDef="let package">
            <div
              class="status"
              [style.color]="getColor(package.entityStatus)"
              [style.background-color]="getBg(package.entityStatus)"
            >
              {{ mapEntityStatus(package.entityStatus) }}
            </div>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="[
            'packageBarcode',
            'sellerName',
            'sellerAddressName',
            'customerName',
            'desi',
            'weight',
            'price',
            'deliveryStatusType',
            'entityStatus'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: [
              'packageBarcode',
              'sellerName',
              'sellerAddressName',
              'customerName',
              'desi',
              'weight',
              'price',
              'deliveryStatusType',
              'entityStatus'
            ]
          "
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-footer
      ><mat-paginator
        #paginator
        [pageSizeOptions]="[25, 50, 75, 100]"
        showFirstLastButtons
      >
      </mat-paginator
    ></mat-card-footer>
  </mat-card>
</app-routes-container>
