<app-routes-container>
  <mat-card style="width: 100%">
    <mat-card-header>
      <div class="header-container">
        <h2 style="margin-right: 1.25rem">Müşteriler</h2>
        <div class="addSearchHolder">
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Müşterileri Ara" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table
        mat-table
        matSort
        matSortActive="customerName"
        matSortDisableClear
        matSortDirection="desc"
        [dataSource]="allCustomers"
        class="mat-elevation-z8 transparent-table"
      >
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Müşteri İsim</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.customerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="customerDeliveryAddress">
          <th mat-header-cell *matHeaderCellDef>Müşteri Teslimat Adresi</th>
          <td mat-cell *matCellDef="let customer">
            <button mat-button>Müşteri Teslimat Adresleri</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellerName">
          <th mat-header-cell *matHeaderCellDef>Satıcı Adı</th>
          <td mat-cell *matCellDef="let customer">{{ customer.sellerName }}</td>
        </ng-container>
        <ng-container matColumnDef="sellerDealer">
          <th mat-header-cell *matHeaderCellDef>Satıcı Bayii</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.sellerAddressName }}
          </td>
        </ng-container>
        <!-- actions -->
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef>Operasyonlar</th>
          <td mat-cell *matCellDef="let customer">
            <div style="display: flex; flex-direction: row">
              <button matTooltip="Müşteriyi Sil">
                <mat-icon color="warn">delete</mat-icon>
              </button>
              <button matTooltip="Müşteriyi Aktif Et">
                <mat-icon style="color: rgb(34 197 94)">check</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>Müşteri Aktiflik Durumu</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.entityStatus }}
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="[
            'customerName',
            'customerDeliveryAddress',
            'sellerName',
            'sellerDealer',
            'operations',
            'active'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: [
              'customerName',
              'customerDeliveryAddress',
              'sellerName',
              'sellerDealer',
              'operations',
              'active'
            ]
          "
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-footer
      ><mat-paginator
        #paginator
        [pageSizeOptions]="[25, 50, 75, 100]"
        showFirstLastButtons
      >
      </mat-paginator
    ></mat-card-footer>
  </mat-card>
</app-routes-container>
