<app-routes-container>
  <mat-card style="width: 100%">
    <mat-card-header>
      <div class="header-container">
        <h2 style="margin-right: 1.25rem">Batchler</h2>
        <div class="addSearchHolder">
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="Batchleri Ara"
              [formControl]="searchInputControl"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table
        mat-table
        matSort
        (matSortChange)="announceSortChange($event)"
        [dataSource]="dataSource"
        class="mat-elevation-z8 transparent-table"
      >
        <ng-container matColumnDef="barcode">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by barcode"
          >
            Batch Barkodu
          </th>
          <td mat-cell *matCellDef="let batch">
            <b [ngClass]="{ 'disabled-button': batch.entityStatus == 1 }">{{
              batch.barcode
            }}</b>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by sellerName"
          >
            Satıcı
          </th>
          <td mat-cell *matCellDef="let batch">
            <div
              class="grayBg"
              [ngClass]="{ 'disabled-button': batch.entityStatus == 1 }"
            >
              {{ batch.sellerName }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellerAddressName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by sellerAddressName"
          >
            Satıcı Adresi
          </th>
          <td mat-cell *matCellDef="let batch">
            <div
              class="grayBg"
              [ngClass]="{ 'disabled-button': batch.entityStatus == 1 }"
            >
              {{ batch.sellerAddressName }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="warehouseName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by warehouseName"
          >
            Teslim Alınan Depo
          </th>
          <td mat-cell *matCellDef="let batch">
            <div
              class="grayBg"
              [ngClass]="{ 'disabled-button': batch.entityStatus == 1 }"
            >
              {{ batch.warehouseName }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="responsableCityName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by responsableCityName"
          >
            İli
          </th>
          <td mat-cell *matCellDef="let batch">
            <div
              class="grayBg"
              [ngClass]="{ 'disabled-button': batch.entityStatus == 1 }"
            >
              {{ getCityNameById(batch.responsableCityName) }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellerBatchStatus">
          <th mat-header-cell *matHeaderCellDef>Durum</th>
          <td mat-cell *matCellDef="let batch">
            <div
              class="status"
              [ngClass]="{ 'disabled-button': batch.entityStatus == 1 }"
              [style.color]="getBatchStatusColor(batch.sellerBatchStatus)"
              [style.background-color]="
                getBatchStatusBg(batch.sellerBatchStatus)
              "
            >
              {{ getBatchStatusLabel(batch.sellerBatchStatus) }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="entityStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by entityStatus"
          >
            Batch Aktiflik Durumu
          </th>
          <td mat-cell *matCellDef="let batch">
            <div
              class="status"
              [style.color]="getColor(batch.entityStatus)"
              [style.background-color]="getBg(batch.entityStatus)"
            >
              {{ mapEntityStatus(batch.entityStatus) }}
            </div>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="[
            'barcode',
            'sellerName',
            'sellerAddressName',
            'warehouseName',
            'responsableCityName',
            'sellerBatchStatus',
            'entityStatus'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: [
              'barcode',
              'sellerName',
              'sellerAddressName',
              'warehouseName',
              'responsableCityName',
              'sellerBatchStatus',
              'entityStatus'
            ]
          "
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-footer
      ><mat-paginator
        #paginator
        [pageSizeOptions]="[25, 50, 75, 100]"
        showFirstLastButtons
      >
      </mat-paginator
    ></mat-card-footer>
  </mat-card>
</app-routes-container>
