<div>
  <h2 mat-dialog-title>Adres Güncelle</h2>
  <mat-dialog-content>
    <div style="display: flex">
      <h3 style="margin-right: 1rem">Mevcut Adres:</h3>
      <div *ngIf="!isLoading">
        {{ data.address }}
        <b>
          <span [ngClass]="{ 'empty-field': !data.neighbourhoodName }">
            {{ data.neighbourhoodName || "Mahalle Belirtilmemiş" }}
          </span> </b
        >/
        <b>
          <span [ngClass]="{ 'empty-field': !data.districtName }">
            {{ data.districtName || "İlçe Belirtilmemiş" }}
          </span>
          <b>/</b>
          <span [ngClass]="{ 'empty-field': !data.cityName }">
            {{ data.cityName || "Şehir Belirtilmemiş" }}
          </span>
        </b>
      </div>
    </div>
    <h3>Adres Güncelle:</h3>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>İl</mat-label>
        <mat-select
          formControlName="city"
          (selectionChange)="onCityChange($event)"
        >
          <mat-option *ngFor="let city of cities" [value]="city.cityKey">
            {{ city.cityName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>İlçe</mat-label>
        <mat-select
          formControlName="district"
          (selectionChange)="onDistrictChange($event)"
        >
          <mat-option
            *ngFor="let district of districts"
            [value]="district.districtKey"
          >
            {{ district.districtName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Mahalle</mat-label>
        <mat-select
          formControlName="neighbourhood"
          (selectionChange)="onNeighbourhoodChange($event)"
        >
          <mat-option
            *ngFor="let neighbourhood of neighbourhoods"
            [value]="neighbourhood.neighbourhoodKey"
          >
            {{ neighbourhood.neighbourhoodName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Yeni Adres</mat-label>
        <input matInput formControlName="address" placeholder="Adres" />
      </mat-form-field>

      <button mat-button type="submit" color="primary">Güncelle</button>
    </form>
  </mat-dialog-content>
</div>
