.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #f5f6f7, #ff9500);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control {
  padding: 0.375rem 0.75rem;
  margin: 0.375rem 0;
  border: 1px solid #ced4da;
  border-radius: 0.85rem;
}

.btn.login-btn {
  background-color: #d26309;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.85rem;
}

.btn.login-btn:hover {
  background-color: #ffffff;
  color: #d26309;
}

mat-card {
  width: 100%;
  max-width: 24rem;
  margin: auto;
  border-radius: 1rem;
}
mat-card-header {
  margin-bottom: 1rem;
}
