<div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Giriş Yap</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email">Kullanıcı Adı:</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Kullanıcı adınızı girin">
          </div>
          <div class="form-group">
            <label for="password">Şifre:</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Şifrenizi girin">
          </div>
          <button type="submit" class="btn login-btn">Giriş Yap</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
